#menu{
    margin-right: auto;
    background-color: aquamarine;
    color: black;
    border: 1px solid black; 

}

#menu ul{
    list-style: none;
    background-color: aquamarine;
    overflow: hidden;
} 
#menu ul a:link,a:visited, a:active{
    color : black
}
#menu ul li{
    background-color:  whitesmoke;
    width: 210px;
    border: 10px solid rgb(30, 190, 115);
    height: 50px;
    line-height: 50px;
    text-align: center;
    float:left;
    font-size: 18px;
    font-weight:bold;
    display:inline;
    cursor:pointer;
}
#menu ul li:hover{
    background-color: red;
}