body{
    align-items: center;

    background: linear-gradient( to right, #FFEFBA, #FFFFFF );
}

a{
    text-decoration: none;
}
.title{
    color : black;
    font-weight: bold; 
    font-size: 50px;
    margin-left: 50px;
    font-family: 'coockierun';
}

.contents{
    color : black;
    font-weight: bold; 
    font-size: 15px;
    margin-left: 70px;
    font-family: 'Noto Sans KR';
}

