@font-face {
    font-family: 'coockierun';
    src: url('font/CookieRun Regular.ttf');
}

#header{
    display: block;
    text-align: center;
    margin-bottom: 50px;

}
#logo{
    color:#000000;
    
}
#logo img {
    height: 100px;
    margin-top: 10px;

}
#banner{
    font-weight:  bold; 
    font-family: 'coockierun';
    color: linear-gradient(135deg, mediumturquoise 0%,  100%);
    font-size: 5rem;
    padding: 30px;
    text-align: center;
    vertical-align: "middle";
    
    
}
#banner a{
    text-decoration: none;
}
